<html>

    <body>

        <div>
            <h1 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; margin-left: 3%">Monthly Sale Numbers</h1>
            <div id="burger_line" style="width: 50%"></div>
            <div id="chicken_line" style="width: 50%"></div>
            <div id="fish_line" style="width: 50%"></div>
            <div id="column_day" style="width: 50%"></div>
        </div>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
       
        <script src="js/burgers_sale.js"></script>
        <script src="js/chicken_sale.js"></script>
        <script src="js/fish_sale.js"></script>
        <script src="js/day_sales.js"></script>

    </body>
</html>