<html>
    <style>
        #container {
        min-width: 310px;
        max-width: 800px;
        height: 400px;
        margin: 0 auto
    }
    </style>

    <body>

        <!-- Let's see the chart here-->
        <div id="burger_line"></div>

        <!-- External imports begin -->
        <script src = "https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <!-- External imports end -->

        <!-- Internal imports begin -->
        <script src="js/burgers_sale.js"></script>
        <script src="js/chicken_sale.js"></script>
        <!-- Internal imports end -->
    </body>
</html>