<html>

    <body>
        <div>
            <h1 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; margin-left: 3%">Monthly Sale Numbers</h1>
            <div id="burger_line" style="width: 33%; float: left" ></div>
            <div id="chicken_line" style="width: 33%; float: left"></div>
            <div id="fish_line" style="width: 33%; float: left"></div>
            <p style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; margin-left: 10%; margin-right: 10%; padding-bottom: 5%">
                The red line indicates October 2018, the month Burger King introduced their Impossible Whopper.
                Before that month, burger, chicken and fish sales in all regions were trending upwards. The 
                introduction of the Impossible Whopper coincided with a 13-16% drop in revenue from the previous 
                month for all three products. Sales have consistently stayed at this lowered level into 2019, never
                reaching the peak sales seen in September 2018. Burger King's new Whopper is certainly affecting McDonald's
                revenue. 
            </p>
        </div>
        <div>   
            <h1 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; margin-left: 3%; font-size: 27">Sales Over Days of Week (Jan 2016, Nationwide)</h1>
            <div id="column_burger" style="width: 33%; float: left"></div>
            <div id="column_chicken" style="width: 33%; float: left"></div>
            <div id="column_fish" style="width: 33%; float: left"></div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
       
        <script src="js/burgers_sale.js"></script>
        <script src="js/chicken_sale.js"></script>
        <script src="js/fish_sale.js"></script>
        <script src="js/burger_col.js"></script>
        <script src="js/chicken_col.js"></script>
        <script src="js/fish_col.js"></script>
        <script src="js/download.js"></script>
    </body>
</html>